<div class="pure-u-1">
	<h1>Impressum</h1>
	<p>
		Du kannst mir ja ne E-Mail schreiben an <a href="mailto:impressum@l33t.name">impressum@l33t.name</a>
	</p>
	<h2>Links</h2>
	<p>
		Links können sich ändern im Web darum übernehmen ich keine Haftung für die Links die ihr hier klickt. In diesem Sinne klicken auf eigene Gefahr.
	</p>
</div>