<div class="pure-u-1">
    <h1>Impressum</h1>
    <p>
        Du kannst mir ja ne E-Mail schreiben an <a href="mailto:impressum@l33t.name">impressum@l33t.name</a>
    </p>
    <h2>Links</h2>
    <p>
        Auf die verlinkten inhalte habe ich keinen Einfluss und lehne daher jede Haftung ab.
    </p>
    <h2>Rechtschreibung</h2>
    <p>
        Da meine Fähigkeit richtiges Deutsch zu schreiben eher begrenzt ist könnt ihr mir ne <a href="mailto:blog@l33t.name">Mail</a> schreiben, wenn 
        ihr ein Fehler findet. Es wird ein eine Rangliste geben, mit den Leuten die am meisten Fehler finden.
        Die Regel dafür sind einfach ihr dürft zu euren Korrekturen ein Namen und eine URL angeben und diese
        wird dann auf der Rangliste aufgeführt. Ich behalte mir natürlich vor die Links nicht zu publizieren 
        wenn sie gegen geltendes Recht verstossen. (oder mir nicht passen) Das gleiche gilt für Namen.
    </p>
    <h2>Inhalt</h2>
    <p>
        Du bist nicht gleicher Meinung, oder ich behaubte etwas das nicht stimmt? Schreib doch ne <a href="mailto:blog@l33t.name">Mail</a> oder
        machs in deinem Blog besser.
    </p>
    <h2>RSS</h2>
    <p>
        Es gibt eine RSS-feed unter <a href="http://blog.l33t.name/feed">/feed</a>.
    </p>
    <h2>Flattr</h2>
    <p>
        Es gibt ein Flattr-link zum danke sagen unten im footer.
    </p>
</div>