<form action="/login" method="post">
	<input name="username" type="text" Placeholder="Username">
	<input name="pass" type="password">
	<input type="submit" class="pure-button pure-button-primary" value="Login">
</form>