<div class="pure-u-1">
	<form action="/add" methode="post" class="pure-form form">
		<input type="text" placeholder="Title" class="pure-input-1" required>
		<textarea class="pure-input-1" required></textarea>
		<input type="submit" value="save" class="pure-button pure-button-primary pull-right">
	</form>
</div>